*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --color-fondo: #e9e6e6; /* Gris elegante */
    --color-texto: white;
    --color-boton: #76A3A4;
    --color-hover: #9E802E;
    --ancho-linea: 120px;
    --color-nombres: #9E802E;
    --color-negro:#000000;
}

body {
    font-family: 'Times New Roman', serif;
    background-color: #f9f9f9;
    text-align: center;
}

.hero {
    background-color: var(--color-fondo);
    color: var(--color-texto);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 50px;
    /* border-radius: 10px; */
}
h2{
    color: var(--color-nombres);
    font-size: 35px;
}

.nombres {
    font-size: 50px;
  /*   font-weight: bold; */
  /*   text-transform: uppercase; */
    margin-top: -10px;
    color: var(--color-negro);
    font-family: "Tangerine", cursive;
    font-weight: 400;
    font-style: normal;
    margin-top: 30px;
    
}

.anillos {
    width: 180px;
    height: auto;
}

.boton-con-lineas {
    margin-top: 40px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.linea {
    width: var(--ancho-linea);
    height: 2px;
    background-color: var(--color-nombres);
}

#playButton {
    width: 60px;
    height: 60px;
    background-color: var(--color-boton);
    border: none;
    border-radius: 50%;
    color: white;
    font-size: 30px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
}

#playButton:hover {
    background-color: var(--color-hover);
}

.evento {
   /*  background-color: var(--color-texto); */
    color: var(--color-texto);
    text-align: center;
    padding: 40px;
    border-radius: 10px;
    margin-top: 40px;
} 
 .bloque-evento{
    margin-bottom: 60px;
 }

.info{
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 10px;
    font-size: 40px;
}

p{
    color: var(--color-negro);
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
}

.fecha {
    font-size: 40px;
   /*  font-weight: bold; */
    margin-bottom: 20px;
}

.iglesia{
    font-size: 30px;
}

.horario{
    font-size: 40px;
}

.ubicacion {
    display: inline-block;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 15px 10px;
    background-color: var(--color-boton);
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.ubicacion:hover {
    background-color: var(--color-hover);
}

#contador {
    display: flex;
    justify-content: center;
    gap: 18px;
    font-size: 28px;
    /* font-weight: bold;  */
    color:var(--color-negro);
}

.tiempo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.label {
    font-size: 16px;
    font-weight: normal;
    margin-top: 5px;
   color: var(--color-nombres);
}


/* codigo de vestimenta */

.titulo-codigo{
margin-bottom: 30px;
}

.codigo-vestimenta {
    text-align: center;
   /*  padding: 40px; */
    background-color: var(--color-fondo); /* Fondo acorde al diseño */
    border-radius: 10px;
}

.vestimenta-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap; /* Para que se adapte a pantallas pequeñas */
}

.vestimenta-bloque {
    text-align: center;
    max-width: 250px;
}

.icono-vesti {
    width: 100px;
    height: auto;
    margin-bottom: 30px;
}

.descripcion-vestimenta {
    font-size: 20px;
    line-height: 1.5;
    color: var(--color-negro);
}







/* Estilos itinerario */
.itinerario {
    background-color: var(--color-fondo);
    color: var(--color-texto);
    text-align: center;
    padding: 40px;
    border-radius: 10px;
}

.foto-novios {
    width: 100%;
    max-width: 400px;
    height: auto;
    border-radius: 10px;
    margin-bottom: 40px;
}

.titulo-itinerario {
    font-size: 28px;
    font-weight: bold;
    margin-bottom:40px;
}

.direccion, .vestimenta {
    font-size: 22px;
    line-height: 1.5;
    margin-bottom: 45px;
}

.negrita {
    font-weight: bold;
}

/* estilos itinerario 4 cajas */
.caja {
    margin-bottom: 30px; /* Espaciado entre los bloques */
    text-align: center;
}

.icono {
    width: 60px;
    height: 60px;
    margin-bottom: 10px; /* Espaciado entre el ícono y el título */
}

.titulo-itinerario {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 10px; /* Espaciado entre el título y el párrafo */
}
.icono-vesti{
    width:120px;
}

.caja p {
    font-size: 20px;
    line-height: 1.5;
}
.caja .hora{
    font-size: 30px;
}

/* estilos_Bendicion */
.bendicion {
    text-align: center;
    padding: 40px;
    background-color: var(--color-texto); /* Personaliza el fondo */
    color: var(--color-texto);
}

.linea-divisora {
    border: none;
    height: 2px;
    background-color: var(--color-nombres); /* Color de la línea divisora */
    margin: 20px auto;
    width: 50%; /* Ajusta el ancho de la línea */
}

.titulo-bendicion {
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 10px;
}

.mensaje-bendicion {
    font-size: 20px;
    margin-bottom: 30px;
}

.fotos-circulares {
    display: block;
    display: flex;
    justify-content: center;
    gap: 20px; /* Espaciado entre los círculos */
    flex-wrap: wrap; /* Para adaptar en dispositivos pequeños */
}

.foto-circulo {
    text-align: center;
}

.foto-circulo img {
    width: 180px;/* 12opx */
    height: 180px;/* 120px */
    border-radius: 50%; /* Hace que las fotos sean circulares */
    border: 3px solid var(--color-linea); /* Borde elegante */
    margin-bottom: 10px;
}

.nom-papas{
    color: var(--color-negro);
    font-family: "Tangerine", cursive;
}

.foto-circulo h3 {
    font-size: 18px;
    margin-top: 5px;
    color: var(--color-nombres);
}



/* sección REGALOS */

.regalos {
    text-align: center;
    padding: 40px;
    background-color: var(--color-fondo); /* Personaliza el fondo */
    color: var(--color-texto);
}

.titulo-regalos {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 10px;
}

.mensaje-regalos {
    font-size: 20px;
    margin-bottom: 20px;
}

.icono-regalo {
    width: 100px;
    height: 100px;
    margin-bottom: 30px;
}

.opciones-regalos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
}

.boton-regalo {
    background-color: var(--color-boton);
    color: var(--color-texto);
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 200px;
    gap: 10px; /* Espaciado entre icono y texto */
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-decoration: none;
}

/* Estilo responsivo para pantallas pequeñas */
@media (max-width: 768px) {
    .opciones-regalos {
        flex-direction: column; /* Coloca los botones uno debajo del otro */
        align-items: center; /* Centra los botones en pantallas pequeñas */
    }
}

.icono-boton {
    color: var(--color-texto);
    width: 30px;
    height: 30px;
}

/* datos bancarios */
.datos-bancarios {
    margin-top: 0px;
    text-align: center;
    background-color:var(--color-fondo);  /* color bancario */
}

.boton-datos-bancarios {
    background-color: var(--color-boton);
    color: var(--color-texto);
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px; /* Espacio entre ícono y texto */
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 0 auto;
    margin-top: 10px;
}

.icono-banco {
    width: 20px;
    height: 20px;
}

#datos-bancarios {
    margin-top: 20px;
    text-align: center;
    padding: 10px;
    border: 1px solid var(--color-linea);
    border-radius: 10px;
    background-color: var(--color-fondo-datos);
    display: inline-block;
}

#datos-bancarios p {
    font-size: 18px;
    line-height: 1.5;
}

.cerrar-datos {
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
    margin-top: 10px;
}


/* confirmar asistencia */

.confirmar-asistencia {
    text-align: center;
    padding: 40px;
    /* background-color: var(--color-fondo); /* Personaliza el color de fondo */ 
    color: var(--color-texto);
}

.titulo-confirmar {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 10px;
}

.mensaje-confirmar {
    font-size: 20px;
    margin-bottom: 30px;
}

.titulo-contacto {
    font-size: 40px;
    color: var(--color-nombres);
    margin-bottom: 20px;
    font-weight: bold;
}

.botones-contacto {
    display: flex;
    justify-content: center;
    gap: 20px; /* Espaciado entre botones */
    flex-wrap: wrap;
}

.boton-contacto {
    background-color: var(--color-boton);
    color: var(--color-fondo);
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 10px; /* Espacio entre ícono y texto */
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    justify-content:center;
}

.icono-whatsapp {
    width: 20px;
    height: 20px;
    color: var(--color-fondo);
}


/* boton whatsapp Estilo responsivo para pantallas pequeñas */
@media (max-width: 768px) {
    .botones-contacto {
        flex-direction: column; /* Coloca los botones en una columna */
        align-items: center; /* Centra los botones */
        gap: 15px; /* Ajusta el espaciado entre ellos */
    }

    .boton-contacto {
        width: 80%; /* Ajusta el ancho del botón para pantallas pequeñas */
    }
}

/* footer */

.footer {
    background-color: var(--color-fondo);
    color: var(--color-negro);
    text-align: center;
    padding: 30px;
    border-top: 2px solid var(--color-nombres);
}

.logo img {
    width: 350px; /* Ajusta el tamaño del logo */
    margin-top: 55px;
    margin-bottom: 55px;
}

/* carrusel fotos novios */

.carousel {
    position: relative;
    width: 100%;
    max-width: 400px;
    overflow: hidden;
    margin-bottom: 35px;
}

.carousel-item {
    display: none;
    width: 100%;
    transition: opacity 0.5s ease-in-out;
}

.carousel-item.active {
    display: block;
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0,0,0,0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
}

.prev { 
    left: 10px; /* Ajusta la posición del botón izquierdo */
}

.next { 
    right: 10px; /* Ajusta la posición del botón derecho */
}




/* desktop carrusel */


@media screen and (min-width: 1024px) { /* Ajusta el tamaño según necesites */
    .carousel {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 400px; /* Ajusta el tamaño del carrusel */
        margin: 0 auto; /* Centra horizontalmente */
    }
}
